---
import Layout from "../layouts/Layout.astro";

const heading = "SparkPall";
const subheading =
  "Your Friendly Electricity Price Companion for the Baltic Region";
const appIcon = "/images/app-icon.svg";
const appScreenshot = "/images/sparkpall_landing_mock.webp";
const badges = [
  {
    link: "https://apps.apple.com/us/app/sparkpall/id1610931185",
    image: "/images/app-store-badge.svg",
    alt: "Download on the App Store",
  },
  {
    link: "https://play.google.com/store/apps/details?id=com.sparkpall.app",
    image: "/images/google-play-badge.png",
    alt: "Get it on Google Play",
  },
];
const authors = [
  {
    name: "SparkPall Team",
    url: "https://github.com/sparkpall",
  },
];
---

<Layout
  title="SparkPall - Your Friendly Electricity Price Companion"
  description="SparkPall is your go-to app for tracking electricity prices in the Baltic Region. Stay informed and save on your energy costs."
  image={appScreenshot}
  noindex={false}
  nofollow={false}
>
  <div class="landing-content">
    <div class="text-container">
      <img src={appIcon} alt="SparkPall Logo" class="app-icon" />
      <h1 class="heading">{heading}</h1>
      <h2 class="subheading">{subheading}</h2>
      <div class="badge-container">
        {
          badges.map((badge) => (
            <a href={badge.link} target="_blank">
              <img src={badge.image} alt={badge.alt} class="badge" />
            </a>
          ))
        }
      </div>
      <p class="authors">
        Made with ♥ by
        {
          authors.map((author, index) => (
            <span>
              {index > 0 && ", "}
              <a href={author.url} target="_blank">
                {author.name}
              </a>
            </span>
          ))
        }
      </p>
    </div>
    <div class="app-showcase">
      <img
        src={appScreenshot}
        alt="SparkPall App Screenshot"
        class="app-screenshot"
      />
    </div>
  </div>
</Layout>
