---
import Layout from "../layouts/Layout.astro";

const userId = Astro.url.searchParams.get("userId");
const secret = Astro.url.searchParams.get("secret");
const expire = Astro.url.searchParams.get("expire");
const appScheme = "sparkpall://";
const appId = "xyz.sparkpall.app";
const appStoreUrl = `https://apps.apple.com/us/app/sparkpall/id1610931185`;
const playStoreUrl = `https://play.google.com/store/apps/details?id=${appId}`;
---

<Layout
  title="Reset Password - SparkPall"
  description="Reset your SparkPall password"
>
  <div class="reset-password-container">
    <h1>Reset Your Password</h1>
    <p>We're opening the SparkPall app for you to reset your password.</p>
    <p>If the app doesn't open automatically, please click the button below:</p>
    <button id="openAppBtn">Open SparkPall App</button>
  </div>

  <script
    define:vars={{
      appScheme,
      userId,
      secret,
      expire,
      appStoreUrl,
      playStoreUrl,
    }}
  >
    function openApp() {
      const deepLink = `${appScheme}reset-password?userId=${userId}&secret=${secret}&expire=${expire}`;
      const fallbackUrl = /iPhone|iPad|iPod/i.test(navigator.userAgent)
        ? appStoreUrl
        : playStoreUrl;

      // Attempt to open the app
      window.location.href = deepLink;

      // If the app doesn't open within 2 seconds, redirect to the app store
      setTimeout(() => {
        if (document.hidden) return; // If the page is hidden, the app opened successfully
        window.location.href = fallbackUrl;
      }, 2000);
    }

    // Try to open the app immediately when the page loads
    openApp();

    // Also attach the openApp function to the button
    document.getElementById("openAppBtn").addEventListener("click", openApp);
  </script>

  <style>
    .reset-password-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }

    button {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</Layout>
