---
import Layout from "../layouts/Layout.astro";

// Correctly parse the URL parameters
const url = new URL(Astro.request.url);
const userId = url.searchParams.get("userId");
const secret = url.searchParams.get("secret");
const expire = url.searchParams.get("expire");

// We'll consider the link as not expired since we're using server time
const isExpired = false;

const appScheme = "sparkpall://";
const appId = "xyz.sparkpall.app";
const appStoreUrl = `https://apps.apple.com/us/app/sparkpall/id1610931185`;
const playStoreUrl = `https://play.google.com/store/apps/details?id=${appId}`;
---

<Layout
  title="Verify Email - SparkPall"
  description="Verify your SparkPall email address"
>
  <div class="verify-email-container">
    <h1>Verify Your Email</h1>
    {
      isExpired ? (
        <p>
          This verification link has expired. Please request a new verification
          email.
        </p>
      ) : (
        <div id="verificationContent">
          <p>Click the button below to verify your email address:</p>
          <button id="verifyEmailBtn">Verify Email</button>
        </div>
      )
    }
    <div id="verificationSuccess" style="display: none;">
      <p>
        Your email has been successfully verified. You can now use all features
        of your account.
      </p>
    </div>
    <div id="verificationError" style="display: none;">
      <p>
        An error occurred while verifying your email. Please try again or
        contact support.
      </p>
    </div>
    <p>Or, open the SparkPall app:</p>
    <button id="openAppBtn">Open SparkPall App</button>
  </div>

  <script
    define:vars={{
      appScheme,
      userId,
      secret,
      expire,
      appStoreUrl,
      playStoreUrl,
      isExpired,
    }}
  >
    function openApp() {
      const deepLink = `${appScheme}email-verification?userId=${userId}&secret=${secret}&expire=${expire}`;
      window.location.href = deepLink;
    }

    document.getElementById("openAppBtn").addEventListener("click", openApp);

    if (!isExpired && userId && secret) {
      document
        .getElementById("verifyEmailBtn")
        .addEventListener("click", async () => {
          try {
            const response = await fetch("/.netlify/functions/verify-email", {
              method: "POST",
              body: JSON.stringify({ userId, secret }),
              headers: {
                "Content-Type": "application/json",
              },
            });

            if (response.ok) {
              document.getElementById("verificationContent").style.display =
                "none";
              document.getElementById("verificationSuccess").style.display =
                "block";
            } else {
              throw new Error("Email verification failed");
            }
          } catch (error) {
            console.error("Error:", error);
            document.getElementById("verificationContent").style.display =
              "none";
            document.getElementById("verificationError").style.display =
              "block";
          }
        });
    } else {
      console.error("Missing userId or secret");
      document.getElementById("verificationContent").style.display = "none";
      document.getElementById("verificationError").style.display = "block";
    }
  </script>

  <style>
    .verify-email-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }

    button {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</Layout>
